*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.app{
    margin-top: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    width: calc(64px*8);
    height: calc(64px*8);
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background: deepskyblue;
}

.white{
    background: #999073;
}

.cell img{
    width: 48px;
    height: 48px;
    position: relative;
}

.selected{
    background: brown;
}

.available{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
}

.lost{
    height: calc(50vh - 60px);
    padding: 30px;
    margin: 0 50px;
    background-color: darkslategray;
}

.mainTxt{
    margin: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

.timerWrapper{
    margin: 40px 0;
    text-align: center;
}

.timer{
    border: 1px solid black;
}

.timerBtn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
}

.time{
    margin: 5px 0;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}